<div id="belio">
  <div id="caixinha">
    <div id="icons">
      <img src="../assets/plus.png" class="icon" (click)="new_note()"/>

      <img src="../assets/note.png" class="icon" (click)="edit()" [ngClass]="{naoeditasbitch: !editing}"/>
      
      <img src="../assets/delete.png" class="icon" (click)="delete()"/>
    </div> 
    <div id="notes">
      <ng-container *ngFor="let note of notes">
        <div class="nota" [ngClass]="{ativa: selected_note==note.id}" >
          <div class="paizinho">
            <input class="title" [(ngModel)]="note.title" [disabled]="selected_note!=note.id || !editing" spellcheck="false" maxlength="25"/>
            <textarea class="text" [(ngModel)]="note.text" [disabled]="selected_note!=note.id || !editing" spellcheck="false" wrap="on"> </textarea>
         </div>
         <div class="check">
           <ng-container *ngIf="selected_note==note.id"> <img src="../assets/check.png" class="icon" (click)="select(note.id)"/> </ng-container>
           <ng-container *ngIf="selected_note!=note.id"> <div class="circle" (click)="select(note.id)">  </div> </ng-container>
         </div>
        </div>

      </ng-container>
    </div>
  </div>
  <div id="footer">
    made with ❤ by sofiarafonso
  </div>
</div>

<router-outlet></router-outlet>